<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Category Prediction</title>
</head>
<body>
    <h1>Resume Category Prediction</h1>
    <form method="post" action="/predict" enctype="multipart/form-data">
        <input type="file" name="file" accept=".docx" required>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
